img {
  max-width: 150px;
}

.container {
  max-width: 600px;
}

.material {
  box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
}

.svg-inline--fa:not(.fa-2x) {
  font-size: 1.5em;
}

/*
div {
  border: 1px solid white;
}
*/
